<%= simple_form_for(@song, :html => {:class => 'form-horizontal'}) do |f| %>
  <div class="field">
    <%= f.input :file %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
